@import "variables.less";

* {
  padding: 0;
  margin: 0;

}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  -webkit-app-region: no-drag;
}


body {
  width: 100vw;
  height: 100%;
  background-color: @Global_BG_COLOR;
}

// 下面都是滚动条的样式
// 设置滚动条样式
/* 设置滚动条的样式 */
body::-webkit-scrollbar {
  display: none;
  width: 12px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

·

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}

// 透明色卡片
.global_card_transparent {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

// 删除按钮旋转效果
.delete {

  &:hover {
    transform: rotate(180deg);
    transition: .5s all;
  }
}

@second_1s: 1s;
@second_5ms: .5s;
@second_2s: 2s;

// 过场动漫开始
.animate__animated {
  -webkit-animation-duration: @second_1s;
  animation-duration: @second_1s;
  -webkit-animation-duration: @second_1s;
  animation-duration: @second_1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__animated_5ms {
  -webkit-animation-duration: @second_5ms;
  animation-duration: @second_5ms;
  -webkit-animation-duration: @second_5ms;
  animation-duration: @second_5ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animate__animated_2s {
  -webkit-animation-duration: @second_2s;
  animation-duration: @second_2s;
  -webkit-animation-duration: @second_2s;
  animation-duration: @second_2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes backInRight {
  0% {
    -webkit-transform: translateX(2000px) scale(0.7);
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateX(0px) scale(0.7);
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.animate__backInRight {
  -webkit-animation-name: backInRight;
  animation-name: backInRight;
}


.go_through_motions {
  .animate__animated();
  .animate__backInRight();
}

// 过场动漫结束

// 抖动特效开始
@-webkit-keyframes shakeX {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes shakeX {

  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0);
  }
}

.animate__shakeX {
  -webkit-animation-name: shakeX;
  animation-name: shakeX;
}

.go_shake {
  .animate__animated_2s();
  .animate__shakeX();
  animation-iteration-count: infinite;
}

// 抖动特效结束